
table, td, th {
    border: 3px solid lightgray;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 30px;
    padding: 6pt;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    display: inline-block;
}

#content {
    width: 70%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#loading {
    display: none;
    cursor: wait;
    }