<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>rps-play-studio</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md text-center d-flex justify-content-center navigation-clean" style="background: linear-gradient(151deg, rgb(0,105,29) 0%, rgb(48,184,15));">
        <div class="container">
            <div class="col align-self-center">
                <h2 class="text-center justify-content-center" style="font-size: calc(18px + ((170vw - 320px) / 82));margin: 0px;">Rock, Paper, Scissors</h2>
            </div>
        </div>
    </nav>
    <div class="row" style="margin: 5%;background: linear-gradient(163deg, rgb(126,126,126), rgb(215,215,215));border-radius: 10vw;box-shadow: 0px 0px 10px rgb(6,28,2);margin-top: 10%;">
        <div class="col">
            <div class="row d-lg-flex" style="border-width: 30px;border-style: none;">
                <div class="col" style="margin-top: 5%;margin-bottom: 0px;">
                    <h3 class="text-center" style="font-size: calc(22px + ((79vw - 320px) / 50));margin: 0px;margin-bottom: 25px;color: #000000;">What would you like the winning score to be?</h3>
                    <form class="d-flex flex-grow-1 justify-content-center" style="padding-top: 0px;padding-bottom: 3%;margin-left: auto;margin-right: auto;max-width: 600px;width: 80%;">
                        <input class="bg-success border rounded-pill border-success custom-range" type="range" style="margin-left: auto;margin-right: auto;padding: 5px;border-width: 1px;border-style: none;" min="5" max="20" value="10"></form>
                </div>
                <div class="col-12 text-monospace text-center" style="padding: 0px;margin: 0px;">
                    <h1 style="font-size: calc(50px + ((79vw - 320px) / 50));color: var(--dark);margin: 0px;">12</h1>
                </div>
                <div class="col-12 d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center" style="padding: 2%;margin: 0px;"><button class="btn btn-success btn-lg text-center" type="submit" style="width: 30%;padding: 0px;height: 40px;">Submit</button></div>
            </div>
        </div>
    </div>
    <section></section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>